.nyc_output/
coverage/
dist/
lib/
lib-es/
node_modules/
off/
packs/
scratch/
testing/
temp/

/lessc

.DS_Store
.scratch
yarn.lock
package-lock.json
yarn-error.log
lerna-debug.log
package-deps.json

*.swp
*.build.log
*.build.error.log
isolate-*.log

/*/**/.vscode/

