.function-general-formatting {
  a1: %("repetitions: %a file: %d", 3, "directory/file.less");
  a2: %('repetitions: %A file: %D', 3, "directory/file.less");
  a3: %("repetitions: %s file: %s", 3, "directory/file.less");
  a4: %('repetitions: %S file: %S', 3, "directory/file.less");
  a5: %('the value is %s%%', 20);
  a6: %('values: %s %s %s', 1, 2, 3, 4, 5, 6, 7);
  a7: %('foo %s %', 1);
}
.function-general-escape {
  b1: e("foo");
  b2: escape('( = )');
}
.function-general-alpha {
  c1: alpha(opacity=.35);
  c2: alpha(opacity=.7);
}
