.a {
  a: lighten(#000, 10%);
  b: darken(#fff, 10%);
  c: mod(7, 3);
  d: round(4.6px);
  e: unit(5px);
  f: convert(1s, ms);
  g: sqrt(9);
  h: length(1 2 3);
  i: extract(2 4 6, 1);
  j: fade(#000, 50%);
  k: mix(#fff, #000, 50%);
  l: saturate(#000, 10%);
}
