.a {
  a: #ff0000;
  b: #f5f5dc;
  c: #808080;
  d: #00ffff;
  e: #ff00ff;
  f: #696969;
  g: #778899;
  h: #afafaf;
  i: #000000;
  j: #ffffff;
  k: #663399;
  l: RED;
  m: magenta;
  n: ghostwhite;
  o: #112233;
  p: #2f4f4f;
}
